<!doctype html>
<html ng-app="exampleApp">
  <head>
  </head>
  <body>
    <div ng-controller="ExampleCtrl as example">
      <h1>A List</h1>
      <ul>
        <li ng-repeat="item in example.aList">
          {{ item }}
        </li>
      </ul>
      <button ng-click="example.clearList()">Clear the list!</button>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="example-app.js"></script>
    <script src="example-app-controller.js"></script>
  </body>
</html>
